<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/id/1127348662/fr/photo/plein-cadre-de-ma%C3%AFs-souffl%C3%A9-d%C3%A9taill%C3%A9e-vue-den-haut-vue-de-dessus.jpg?b=1&s=612x612&w=0&k=20&c=UwATqxgNC8PWKEL2CTDKUAZswMc7FlZx05SeP3ucfN4=);">
  <div class="container">
    <h1>Sort your favorite movies !</h1>
    <p>And prepare yourself to <strong>incredible</strong> movie nights </p>
  </div>
</div>
<div class="container">
  <div class="cards my-3">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
        <h3 style="">
          <%= list.name%>
        </h3>
        <div class="card-footer">
          <i class="fa-solid fa-film"></i>
          <%= link_to "See movies", list_path(list)%>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-3">
    <div class="bg-dark text-light">
      <h3 class="mb-3 p-4"> Create a new list </h3>
        <%= simple_form_for @list do |f| %>
          <div class="ms-3 row g-3 d-flex justify-content-center align-items-center">
            <div class="col">
              <%= f.input :name, input_HTLM: {class:"form-control"}, label_HTLM: {class:"form-label"} %>
            </div>
            <div class="col">
              <%= f.input :photo, as: :file %>
            </div>
            <div class="col">
              <div class="d-flex justify-content-center align-items-center">
                <%= f.submit "Create a new list", class:"btn btn-light mt-3" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
